.dashboard-container {
  height: 100vh;
}

.toolbar {
  .spacer {
    flex: 1 1 auto;
  }
}

.content {
  padding: 20px;
}


.right-sidebar {
  width: 280px;
  border-left: 1px solid #ccc;
}

.chart-card {
  margin: 16px;
}

// .bar-chart-container {
//   position: relative;
//   height: 250px;  // Adjust this value to control height
//   width: 100%;
// }

// .spacer_chart {
//   padding: 10px;
// }